// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  text-align: center;
}

.container ul {
  list-style-image: url('https://media4.giphy.com/media/KcW0iKgbONHUxzWrIF/200w.webp?cid=ecf05e472u016w7uqsbg1cuvwceup1bvsfa6b640hqurxfnj&rid=200w.webp&ct=g');
  margin: 10px 300px;
}
